In [1]:
import requests as rq
import pandas as pd

# defining the url for exploring the spacex api
url = 'https://api.spacexdata.com/v4/launches'

# making a GET request
response = rq.get(url)

# to see whether the request succeeds
if response.status_code == 200:
    data = response.json() # analysis of the json data
    df = pd.DataFrame.from_dict(data) # converting python dictionary into pandas (pd) dataframe
    print(df.head())
else:
    print('Failed to fetch data from the API') # when request (rq) instead fails

                                            fairings  \
0  {'reused': False, 'recovery_attempt': False, '...
1  {'reused': False, 'recovery_attempt': False, '...
2  {'reused': False, 'recovery_attempt': False, '...
3  {'reused': False, 'recovery_attempt': False, '...
4  {'reused': False, 'recovery_attempt': False, '...

                                               links  \
0  {'patch': {'small': 'https://images2.imgbox.co...
1  {'patch': {'small': 'https://images2.imgbox.co...
2  {'patch': {'small': 'https://images2.imgbox.co...
3  {'patch': {'small': 'https://images2.imgbox.co...
4  {'patch': {'small': 'https://images2.imgbox.co...

       static_fire_date_utc  static_fire_date_unix    net  window  \
0  2006-03-17T00:00:00.000Z           1.142554e+09  False     0.0
1                      None                    NaN  False     0.0
2                      None                    NaN  False     0.0
3  2008-09-20T00:00:00.000Z           1.221869e+09  False     0.0
4                      None                    NaN  False     0.0

                     rocket success  \
0  5e9d0d95eda69955f709d1eb   False
1  5e9d0d95eda69955f709d1eb   False
2  5e9d0d95eda69955f709d1eb   False
3  5e9d0d95eda69955f709d1eb    True
4  5e9d0d95eda69955f709d1eb    True

                                            failures  \
0  [{'time': 33, 'altitude': None, 'reason': 'mer...
1  [{'time': 301, 'altitude': 289, 'reason': 'har...
2  [{'time': 140, 'altitude': 35, 'reason': 'resi...
3                                                 []
4                                                 []

                                             details  ...  \
0   Engine failure at 33 seconds and loss of vehicle  ...
1  Successful first stage burn and transition to ...  ...
2  Residual stage 1 thrust led to collision betwe...  ...
3  Ratsat was carried to orbit on the first succe...  ...
4                                               None  ...

                   date_utc   date_unix                 date_local  \
0  2006-03-24T22:30:00.000Z  1143239400  2006-03-25T10:30:00+12:00
1  2007-03-21T01:10:00.000Z  1174439400  2007-03-21T13:10:00+12:00
2  2008-08-03T03:34:00.000Z  1217734440  2008-08-03T15:34:00+12:00
3  2008-09-28T23:15:00.000Z  1222643700  2008-09-28T11:15:00+12:00
4  2009-07-13T03:35:00.000Z  1247456100  2009-07-13T15:35:00+12:00

  date_precision upcoming                                              cores  \
0           hour    False  [{'core': '5e9e289df35918033d3b2623', 'flight'...
1           hour    False  [{'core': '5e9e289ef35918416a3b2624', 'flight'...
2           hour    False  [{'core': '5e9e289ef3591814873b2625', 'flight'...
3           hour    False  [{'core': '5e9e289ef3591855dc3b2626', 'flight'...
4           hour    False  [{'core': '5e9e289ef359184f103b2627', 'flight'...

  auto_update    tbd  launch_library_id                        id
0        True  False               None  5eb87cd9ffd86e000604b32a
1        True  False               None  5eb87cdaffd86e000604b32b
2        True  False               None  5eb87cdbffd86e000604b32c
3        True  False               None  5eb87cdbffd86e000604b32d
4        True  False               None  5eb87cdcffd86e000604b32e

[5 rows x 27 columns]

In [2]:
# repeating the same for exploring another endpoint
launchpads_url = 'https://api.spacexdata.com/v4/launchpads'
launchpads_response = rq.get(url)

if launchpads_response.status_code == 200: # 200 means OK while 404 or 500 would mean that the data wasn't retrieved properly: Server Error
    launchpads_data = launchpads_response.json()
    df_launchpads = pd.DataFrame.from_dict(launchpads_data)
    print(df_launchpads.tail())
else:
    print('Failed to fetch data from the API... Try again!')
    
# launches and launchpads have differences in what is included in their columns and rows, especially since i deliberately chose to use the head function on launches and the tail function on launchpads to extract more differences in their insights

                                              fairings  \
200  {'reused': None, 'recovery_attempt': None, 're...
201  {'reused': None, 'recovery_attempt': None, 're...
202  {'reused': None, 'recovery_attempt': None, 're...
203  {'reused': None, 'recovery_attempt': None, 're...
204  {'reused': None, 'recovery_attempt': None, 're...

                                                 links static_fire_date_utc  \
200  {'patch': {'small': None, 'large': None}, 'red...                 None
201  {'patch': {'small': None, 'large': None}, 'red...                 None
202  {'patch': {'small': None, 'large': None}, 'red...                 None
203  {'patch': {'small': None, 'large': None}, 'red...                 None
204  {'patch': {'small': None, 'large': None}, 'red...                 None

     static_fire_date_unix    net  window                    rocket success  \
200                    NaN  False     NaN  5e9d0d95eda69973a809d1ec    None
201                    NaN  False     NaN  5e9d0d95eda69973a809d1ec    None
202                    NaN  False     NaN  5e9d0d95eda69973a809d1ec    None
203                    NaN  False     NaN  5e9d0d95eda69974db09d1ed    None
204                    NaN  False     NaN  5e9d0d95eda69973a809d1ec    None

    failures details  ...                  date_utc   date_unix  \
200       []    None  ...  2022-12-01T00:00:00.000Z  1669852800
201       []    None  ...  2022-12-01T00:00:00.000Z  1669852800
202       []    None  ...  2022-12-01T00:00:00.000Z  1669852800
203       []    None  ...  2022-12-01T00:00:00.000Z  1669852800
204       []    None  ...  2022-12-01T00:00:00.000Z  1669852800

                    date_local date_precision upcoming  \
200  2022-11-30T19:00:00-05:00          month     True
201  2022-11-30T16:00:00-08:00          month     True
202  2022-11-30T19:00:00-05:00          month     True
203  2022-11-30T19:00:00-05:00          month     True
204  2022-11-30T19:00:00-05:00          month     True

                                                 cores auto_update    tbd  \
200  [{'core': None, 'flight': None, 'gridfins': Tr...        True  False
201  [{'core': None, 'flight': None, 'gridfins': No...        True  False
202  [{'core': None, 'flight': None, 'gridfins': No...        True  False
203  [{'core': None, 'flight': None, 'gridfins': Tr...        True  False
204  [{'core': None, 'flight': None, 'gridfins': No...        True  False

     launch_library_id                        id
200               None  633f72580531f07b4fdf59c6
201               None  63161384ffc78f3b8567070e
202               None  6243ae58af52800c6e91925a
203               None  633f72130531f07b4fdf59c3
204               None  6243ae7daf52800c6e91925b

[5 rows x 27 columns]

In [3]:
df_launchpads.describe()

       static_fire_date_unix        window  flight_number     date_unix
count           1.210000e+02    117.000000     205.000000  2.050000e+02
mean            1.520206e+09   2568.974359     102.814634  1.566077e+09
std             9.080036e+07   4389.948430      59.029112  1.037329e+08
min             1.142554e+09      0.000000       1.000000  1.143239e+09
25%             1.475417e+09      0.000000      52.000000  1.513992e+09
50%             1.529789e+09      0.000000     103.000000  1.601984e+09
75%             1.589368e+09   5280.000000     154.000000  1.647660e+09
max             1.650464e+09  18300.000000     203.000000  1.670198e+09

In [4]:
df.dtypes

fairings                  object
links                     object
static_fire_date_utc      object
static_fire_date_unix    float64
net                         bool
window                   float64
rocket                    object
success                   object
failures                  object
details                   object
crew                      object
ships                     object
capsules                  object
payloads                  object
launchpad                 object
flight_number              int64
name                      object
date_utc                  object
date_unix                  int64
date_local                object
date_precision            object
upcoming                    bool
cores                     object
auto_update                 bool
tbd                         bool
launch_library_id         object
id                        object
dtype: object

In [5]:
df_launchpads.dtypes # same types of 27 columns for both launches and launchpads

fairings                  object
links                     object
static_fire_date_utc      object
static_fire_date_unix    float64
net                         bool
window                   float64
rocket                    object
success                   object
failures                  object
details                   object
crew                      object
ships                     object
capsules                  object
payloads                  object
launchpad                 object
flight_number              int64
name                      object
date_utc                  object
date_unix                  int64
date_local                object
date_precision            object
upcoming                    bool
cores                     object
auto_update                 bool
tbd                         bool
launch_library_id         object
id                        object
dtype: object

In [6]:
df.describe() # launchpads statistics had more meaningful insights than what we get below for launches

       static_fire_date_unix        window  flight_number     date_unix
count           1.210000e+02    117.000000     205.000000  2.050000e+02
mean            1.520206e+09   2568.974359     102.814634  1.566077e+09
std             9.080036e+07   4389.948430      59.029112  1.037329e+08
min             1.142554e+09      0.000000       1.000000  1.143239e+09
25%             1.475417e+09      0.000000      52.000000  1.513992e+09
50%             1.529789e+09      0.000000     103.000000  1.601984e+09
75%             1.589368e+09   5280.000000     154.000000  1.647660e+09
max             1.650464e+09  18300.000000     203.000000  1.670198e+09

In [7]:
# using a variety of routes and calls to get a handle for making multiple API requests
rockets_url = 'https://api.spacexdata.com/v4/rockets'
all_rockets = []
limit = 10
page = 1

# using a while loop where the response has the specified limit and starting point hardcoded within the link
while True:
    try:
        rockets_response = rq.get(f'{rockets_url}?limit={limit}&page={page}', timeout=10)
    
        # the usual check-in for the successful request
        if rockets_response.status_code != 200:
            print('Failed to fetch data from the API')
            break # exit if an error occurs
    
        rockets_data = rockets_response.json()
        
        if not rockets_data:  # no data retrieved means we need to end pagination by breaking the loop
            print('No more data to fetch')
            break
    
        all_rockets.extend(rockets_data)  # extend list from current page's data
        page+=1  # on to next page
    
    except rq.exceptions.RequestException as e:
        print(f'An error occurred: {e}')
        break
        
# calling the usual same function
df_rockets = pd.DataFrame(all_rockets)
df_rockets.head()

An error occurred: HTTPSConnectionPool(host='api.spacexdata.com', port=443): Read timed out. (read timeout=10)

,height,diameter,mass,first_stage,second_stage,engines,landing_legs,payload_weights,flickr_images,name,...,stages,boosters,cost_per_launch,success_rate_pct,first_flight,country,company,wikipedia,description,id
0,"{'meters': 22.25, 'feet': 73}","{'meters': 1.68, 'feet': 5.5}","{'kg': 30146, 'lb': 66460}","{'thrust_sea_level': {'kN': 420, 'lbf': 94000}...","{'thrust': {'kN': 31, 'lbf': 7000}, 'payloads'...","{'isp': {'sea_level': 267, 'vacuum': 304}, 'th...","{'number': 0, 'material': None}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...","[https://imgur.com/DaCfMsj.jpg, https://imgur....",Falcon 1,...,2,0,6700000,40,2006-03-24,Republic of the Marshall Islands,SpaceX,https://en.wikipedia.org/wiki/Falcon_1,The Falcon 1 was an expendable launch system p...,5e9d0d95eda69955f709d1eb
1,"{'meters': 70, 'feet': 229.6}","{'meters': 3.7, 'feet': 12}","{'kg': 549054, 'lb': 1207920}","{'thrust_sea_level': {'kN': 7607, 'lbf': 17100...","{'thrust': {'kN': 934, 'lbf': 210000}, 'payloa...","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th...","{'number': 4, 'material': 'carbon fiber'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://farm1.staticflickr.com/929/2878733830...,Falcon 9,...,2,0,50000000,98,2010-06-04,United States,SpaceX,https://en.wikipedia.org/wiki/Falcon_9,Falcon 9 is a two-stage rocket designed and ma...,5e9d0d95eda69973a809d1ec
2,"{'meters': 70, 'feet': 229.6}","{'meters': 12.2, 'feet': 39.9}","{'kg': 1420788, 'lb': 3125735}","{'thrust_sea_level': {'kN': 22819, 'lbf': 5130...","{'thrust': {'kN': 934, 'lbf': 210000}, 'payloa...","{'isp': {'sea_level': 288, 'vacuum': 312}, 'th...","{'number': 12, 'material': 'carbon fiber'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://farm5.staticflickr.com/4599/385838292...,Falcon Heavy,...,2,2,90000000,100,2018-02-06,United States,SpaceX,https://en.wikipedia.org/wiki/Falcon_Heavy,With the ability to lift into orbit over 54 me...,5e9d0d95eda69974db09d1ed
3,"{'meters': 118, 'feet': 387}","{'meters': 9, 'feet': 30}","{'kg': 1335000, 'lb': 2943000}","{'thrust_sea_level': {'kN': 128000, 'lbf': 287...","{'thrust': {'kN': 1957, 'lbf': 440000}, 'paylo...","{'isp': {'sea_level': 330, 'vacuum': 380}, 'th...","{'number': 6, 'material': 'stainless steel'}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...",[https://live.staticflickr.com/65535/489541389...,Starship,...,2,0,7000000,0,2021-12-01,United States,SpaceX,https://en.wikipedia.org/wiki/SpaceX_Starship,Starship and Super Heavy Rocket represent a fu...,5e9d0d96eda699382d09d1ee
4,"{'meters': 22.25, 'feet': 73}","{'meters': 1.68, 'feet': 5.5}","{'kg': 30146, 'lb': 66460}","{'thrust_sea_level': {'kN': 420, 'lbf': 94000}...","{'thrust': {'kN': 31, 'lbf': 7000}, 'payloads'...","{'isp': {'sea_level': 267, 'vacuum': 304}, 'th...","{'number': 0, 'material': None}","[{'id': 'leo', 'name': 'Low Earth Orbit', 'kg'...","[https://imgur.com/DaCfMsj.jpg, https://imgur....",Falcon 1,...,2,0,6700000,40,2006-03-24,Republic of the Marshall Islands,SpaceX,https://en.wikipedia.org/wiki/Falcon_1,The Falcon 1 was an expendable launch system p...,5e9d0d95eda69955f709d1eb

In [9]:
# after pagination, finally checking the number of rows and columns (more as a confirmation of the pagination process)
df_rockets.shape # 185,672 rows and 22 columns!

(185672, 22)